*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    margin: 0;
}
body {
    
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 2, 41);
    color: #FFFFFF;
    box-sizing: border-box;
    
    background-image: linear-gradient(
        to bottom right,
        #08428C 0%,   /* Azul más oscuro */
        #155FBF 20%,  /* Azul muy oscuro */
        #173F73 40%,  /* Azul oscuro */
        #0e4fc9 60%,  /* Azul intermedio */
        #0b33b6 80%   /* Azul más claro */
    );
    background-size: 200% 200%;

    animation: movimiento 15s linear infinite alternate;
}

@keyframes movimiento {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

main{
    flex: 1;
    display:flex;
    align-items: center;
    padding: 4% 4%;
    justify-content: space-between;
    gap: 82px;
}

.contenedor_area_insertar{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    float: left;
}
.contenedor_area_resultado {
    margin-right: 15px;
    height: 720px;
    width: 400px;
    border-radius: 20px;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    background: linear-gradient(
        to right,
        #045496, /* Azul oscuro (más claro que el tono más oscuro del body) */
        #0265be  /* Azul más claro (como en el body) */
    );
}

.contenedor_area_resultado:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #010e16;
}

@keyframes borderAnimation {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #052236;
        transform: scale(1.05);
    }
}


.contenedor_area_resultado:hover::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #021ebd;
    border-radius: 25px;
    animation: borderAnimation 1s infinite;
    z-index: -1;
}


.area_texto_insertar{
    color: white;
    background-color: transparent;
    border: transparent;
    height: 500px;
    width: 100%;
    resize: none;
    font-size: 32px;
}
#insertar::placeholder{
    color: white
}
.imagen{
    height: auto;
    width: auto;
    visibility: visible;
    margin-top: 150px;
}

.contenedor__area_guia{
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
}
.contenedor__area_respuesta{
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
}
.texto_guia{
    width: 336px;
    margin-top: 12px;
    text-align: center;
    color: white;
}
.texto_guia_aviso{
    width: 336px;
    text-align: center;
    color: white;
}

.text_advertencia{
    margin-top: 75px;
}
.contenedor__boton{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenedor__respuesta{
    height: 650px;
    width: 350px;
    margin-left: 30px;
    margin-right: 30px;
}
.contenedor__texto{
    margin-top: 32px;
}
.area_texto_resultado{
    margin-top: 25px;
    height: 580px;
    width: 80%;
    color: white;
    background: linear-gradient(
        to right,
        #08428C, /* Azul oscuro (más claro que el tono más oscuro del body) */
        #155FBF 
    );
    resize: none;
    font-size: 24pt;
}
/* Botones */
.boton_insertar{
    width: 328px;
    height: 67px;
    color:white;
    background: linear-gradient(
        to right,
        #045496, /* Azul oscuro (más claro que el tono más oscuro del body) */
        #0265be  
    );
    margin-right: 27px;
    border-radius: 15px;
}
.boton_copiar{
    width: 82%;
    height: 67px;
    bottom: 0;
    margin-left: 30px;
    color:white;
    background: linear-gradient(
        to right,
        #045496, /* Azul oscuro (más claro que el tono más oscuro del body) */
        #0265be  
    );
    margin-top: -20px;
    border-radius: 15px;
    text-align: center;
}
.boton_insertar:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #0094f0;
}
.boton_copiar:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #0094f0;
}


/* footer*/
.footer{
    background-color: #08428C;
    height: 81px;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}
.texto_footer{
    margin-top: 23px;
}
@media (max-width: 1290px){
    main{
        flex-direction: column;
        padding: 5%;
    }
    body {
        flex-direction: row;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
        background-size: 100% 100%;
    }
    .contenedor_area_insertar{
        width: auto;
        margin-right: 5%;
    }
    .area_texto_insertar{
        width: 100%;
        margin-right: 15%;
    }
    .contenedor__boton{
        width: auto;
        flex-direction: column;
        margin-left: 5%;
    }
    .boton_insertar{
        width: 100%;
        margin-top: 5%;
    }
    .contenedor_area_resultado{
        width: auto;
        margin-left: 5%;
    }
    
    .imagen{
        width: 100%;
    }
    .contenedor__texto{
        flex-direction: column;
        width: auto;
    }
    .contenedor__respuesta{
        flex-direction: column;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .area_texto_resultado{
        width: 100%;
    }
    .boton_copiar{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .texto_guia_aviso{
        width: auto;
    }
    .texto_guia{
        width: auto;
    }
    .footer{
        width: 100%;
    }
}